{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} Blog {%  endblock title %}
{% block header %}

<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/contact-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Entre em contato conosco</h1>
                    <span class="subheading">Tem alguma pergunta?</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form method="POST" action="{% url 'contact' %}">{% csrf_token %}
                    {{form|bootstrap}}
                        {% if success %}
                        <div id="sucess">
                            E-mail enviado com sucesso!
                        </div>
                        <!--
                        { else }
                        
                        <div id="fail">
                            Erro ao enviar seu e-mail!
                        </div>
                        -->
                        {% endif %}
                        <button class="btn btn-primary" id="submitButton" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{%  endblock content %}
